@import 'variables';
@import 'mixins';


.main {
  position: relative;
  top: $header-height;
  overflow: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: $gutter-width;

  @media (min-width: $screen-mobile-sm) {
    padding: $gutter-width * 2;
  }
}
