@import 'variables';
@import 'mixins';

.bags-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $gutter-width;
  padding: $gutter-width;
  text-align: center;

  @media (min-width: $screen-tablet-sm) {
    grid-template-columns: repeat(9, 50px);

    div {
      border: 1px solid black;
      width: 50px;
      height: 50px;
    }
  }

  div {
    img {
      width: 100%;
    }
  }
}