@import 'variables';
@import 'mixins';

header {
  height: $header-height;
  background-color: theme-color('background', 'base');
  position: fixed;
  width: 100%;
  z-index: 3;

  nav {
    padding-top: 8px;
    padding-bottom: 8px;    
    display: none;


    @include for-tablet-portrait-up {
      display: block;

      ul { display: flex; }
    }
  }

  .mobile {
    display: block;

    @include for-tablet-portrait-up {
      display: none;
    }
  }
}

