@import 'variables';
@import 'mixins';

.sidebar-nav {
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 2;
  left: 0;
  padding: 20px;
  top: $header-height;

  @include for-tablet-portrait-up {
    display: none;
  }

  li {
    display: block;

    a {
      display: block;
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid;
    }
  }
}

$navSpeed: 600ms;

.sidebar-enter {
  transform: translate(0%, -110%) + translate(0, -443px);
}

.sidebar-enter.sidebar-enter-active {
  transition: all $navSpeed ease-in;
  transform: translate(0%, 0%); 
  will-change: transform;
}

.sidebar-leave {
  transform: translate(0%, 0%);
}

.sidebar-leave.sidebar-leave-active {
  transition: all $navSpeed ease-in;
  transform: translate(0%, -110%) + translate(0, -443px);
  will-change: transform;
}

