$header-height: 48px;
$gutter-width: 10px;

/* MEDIA QUERIES */

$screen-mobile-sm:  600px;
$screen-tablet-sm:  900px;
$screen-desktop-sm: 1200px;
$screen-desktop-lg: 1800px;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/* COLORS */

$theme-colors: (
  'primary': (
    'base': #384ea9,
    'light': #e4efff,
    'dark': #273677
  ),
  'accent': (
    'base': #D9B310,
    'light': #ff8100,
    'dark': #e47f17
  ),
  'foreground': (
    'base': #393939,
    'light': #6e6e6e,
    'dark': #111
  ),
  'background': (
    'base': #0B3C5D,
    'light': #fff,
    'dark': #ddd
  )
);

@function theme-color($key: 'primary', $variant: 'base') {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

/* TYPOGRAPHY */
$font-size-sm: 0.9rem;
$font-size-md: 1rem;
$font-size-buttons: $font-size-md;




